<%if(typeof errorMessage != "undefined"){%>
			<div class="ui negative message">
				<%=errorMessage%>
			</div>
		<%}%>
		<%if(typeof positiveMessage != "undefined"){%>
			<div class="ui positive message">
				<%=positiveMessage%>
			</div>
		<%}%>