<%include header.ejs%>
<div class="ui container inverted segment">
	<h1>Add Event</h1>
</div>
	<form method="POST" class='ui container form'>
		<% include messages.ejs%>
		<div class="field">
			<label>Title*</label>
			<input type="text" name="title" autofocus required placeholder="Title">
		</div>
		<div class="field">
		    <label>Content*</label>
		    <textarea required name="content"></textarea>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Date</label>
				<input type="date" name="date">
			</div>
			<div class="field">
				<label>Image URL</label>
				<input type="text" name="imgurl" placeholder="Title">
			</div>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Venue</label>
				<input type="text" name="venue">
			</div>
			<div class="field">
				<label>Webpage URL</label>
				<input type="text" name="webpagelink">
			</div>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Time</label>
				<input type="text" name="time">
			</div>
			<div class="field">
				<label>Contact 1</label>
				<input type="text" name="contact1">
			</div>
		</div>
		<div class="equal width fields">
			<div class="field">
				<label>Contact 2</label>
				<input type="text" name="contact2">
			</div>
			<div class="field">
				<label>Email</label>
				<input type="email" name="email">
			</div>
		</div>
		<button class="ui button blue">Add</button>
		<a class="ui button red" href="/news">Back</a>
	</form>
<%include footer.ejs%>

